- if @albums
  %table
    %thead
      %tr
        %th= i18n.album.name
        %th= i18n.album.creation_date
        %th
    %tbody
      - for album in @albums
        %tr{:class => "#{'active' if (album == @current_album)}"}
          %td
            %a(href="album/#{album.id}")
              = album.name
          %td
            = i18n.l album.created_at
          %td.actions
            %img(src='/icons/delete.png' alt="delete")
- else
  %i= i18n.album.none
:javascript
  //alert("loaded albums");