- if @reports
  %table
    %thead
      %tr
        %th= i18n.report.name
        %th= i18n.report.creation_date
        %th
    %tbody
      - for report in @reports
        %tr
          %td
            = report.name
          %td
            = i18n.l report.created_at
          %td.actions
            %img(src='/icons/add.png')
            %img(src='/icons/magnifier.png')
            %a.delete.icon(href="/reports/#{album.id}/delete" rel="nofollow")
              = i18n.report.delete
- else
  %i= i18n.report.none
